* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  vertical-align: baseline;
}

button {
  color: inherit;
  font-family: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  font-size: 1.3em;
  background-color: #090909;
  width: 100vw;
  height: 100vh;
  border: 2px solid #282828;
}

.content {
  height: 100%;
  max-height: -webkit-calc(100% - 27px);
  max-height: -moz-calc(100% - 27px);
  max-height: calc(100% - 27px);
}

.hide {
  display: none !important;
}

.button {
  display: block;
  padding: 5px;
  border: none;
  background-color: #4169E1;
  color: #ffffff;
  font-family: system-ui;
  font-weight: bold;
}

.button:hover {
  opacity: .8;
}

.titleBar {
  background-color: #191919;
  border-bottom: 2px solid #282828;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto;
      grid-template-columns: 1fr auto auto;
  height: 27px;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.titleBar__caption {
  padding: 0 5px;
  line-height: 25px;
  color: #DC4242;
  -webkit-app-region: drag;
}

.titleBar__btn {
  position: relative;
  width: 25px;
  height: 25px;
  border-left: 2px solid #282828;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.titleBar__btn--minimize:hover {
  background-color: #202020;
}

.titleBar__btn--minimize:hover::before {
  background-color: #ffffff;
}

.titleBar__btn--minimize::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 2px;
  bottom: 5px;
  right: 5px;
  background-color: #686868;
}

.titleBar__btn--close:hover {
  background-color: #DC4242;
}

.titleBar__btn--close:hover::before, .titleBar__btn--close:hover::after {
  background-color: #ffffff;
}

.titleBar__btn--close::before, .titleBar__btn--close::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 2px;
  top: 11.5px;
  right: 4.5px;
  background-color: #686868;
}

.titleBar__btn--close::before {
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.titleBar__btn--close::after {
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.selectFile {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  gap: 20px 10px;
  padding: 30px 15px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.selectFile-row {
  min-height: 24px;
}

.selectFile__btn {
  margin: 0 auto;
  width: -webkit-calc(100% - (24px * 2) - (3px * 2));
  width: -moz-calc(100% - (24px * 2) - (3px * 2));
  width: calc(100% - (24px * 2) - (3px * 2));
}

.selectCity {
  width: 100%;
}

.selectCity-wrap {
  position: relative;
  margin: 0 auto;
  width: -webkit-calc(100% - (24px * 2) - (3px * 2));
  width: -moz-calc(100% - (24px * 2) - (3px * 2));
  width: calc(100% - (24px * 2) - (3px * 2));
}

.selectType {
  display: -ms-grid;
  display: grid;
  color: #ACACAC;
  -ms-grid-columns: 24px 1fr 24px;
      grid-template-columns: 24px 1fr 24px;
  gap: 0px 3px;
      grid-template-areas: "prev text next";
}

.selectType__text {
  grid-area: 'text';
  text-align: center;
  line-height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectType__btn {
  display: block;
  position: relative;
}

.selectType__btn:hover {
  opacity: .8;
}

.selectType__btn::after {
  content: '';
  position: absolute;
  left: 4px;
  right: 4px;
  line-height: 24px;
  border-style: solid;
}

.selectType__btn--prev {
  grid-area: 'prev';
}

.selectType__btn--prev::after {
  top: 4px;
  bottom: 4px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #4169E1 transparent transparent;
}

.selectType__btn--next {
  grid-area: 'next';
}

.selectType__btn--next::after {
  top: 5px;
  bottom: 5px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #4169E1;
}

.parsingInfo {
  display: -ms-grid;
  display: grid;
  height: 100%;
  gap: 2px 0;
  padding: 10px 5px;
  color: #ACACAC;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}

.parsingInfo__btn {
  margin-top: 20px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.parsingInfo--value {
  color: #DC4242;
}

.parsingInfo--padding-top {
  padding-top: 10px;
}

.parsingInfo--padding-bottom {
  padding-bottom: 10px;
}

.choices__list--dropdown {
  display: none;
}

.is-open .choices__list--dropdown {
  display: block;
}

.choices__inner {
  background-color: #242424;
  color: #ACACAC;
  min-height: auto;
  padding: 0;
  border: none;
}

.choices__list {
  max-height: 127px;
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.choices[data-type*=select-one] .choices__input {
  padding: 2.5px;
  background-color: #484848;
  color: #ACACAC;
  border-color: #585858;
}

.choices__list--dropdown .choices__item {
  padding: 3px;
  background-color: #181818;
  color: #ACACAC;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: #282828;
}

.choices__list--dropdown {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.is-open .choices__list--dropdown {
  border-color: #242424;
}

.choices[data-type*=select-one]:after {
  border-color: #4169E1 transparent transparent;
}

.choices[data-type*=select-one].is-open:after {
  border-color: transparent transparent #4169E1;
}

.choices__list--dropdown .choices__list {
  max-height: 100px;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar {
  width: 3px !important;
  height: 6px !important;
  background: #191919 !important;
  border-left: 1px solid #252525 !important;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar-thumb {
  background: #DC4242;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border-width: 4px;
  min-height: 28px;
  padding: 100px 0 0;
}
