*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	vertical-align: baseline;
}

button
{
	color: inherit;
	font-family: inherit;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}