@import '_reset';

html
{
	font-size: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body
{
	font-size: 1.3em;

	background-color: #090909;
	width: 100vw;
	height: 100vh;
	border: 2px solid #282828;
}

.content
{
	height: 100%;
	max-height: calc(100% - 27px); // 27px - title bar
}

.hide
{
	display: none !important;
}

.button
{
	display: block;
	padding: 5px;
	border: none;
	background-color: #4169E1;
	color: #ffffff;
	font-family: system-ui;
	font-weight: bold;

	&:hover
	{
		opacity: .8;
	}
}

.titleBar
{
	background-color: #191919;
	border-bottom: 2px solid #282828;

	display: grid;
	grid-template-columns: 1fr auto auto;

	height: 27px;

	-webkit-user-select: none;
	user-select: none;

	&__caption
	{
		padding: 0 5px;
		line-height: 25px;

		color: #DC4242;

		-webkit-app-region: drag;
	}
	&__btn
	{
		position: relative;
		width: 25px;
		height: 25px;
		border-left: 2px solid #282828;
		box-sizing: content-box;

		&--minimize
		{
			&:hover
			{
				background-color: #202020;

				&::before
				{
					background-color: #ffffff;
				}
			}

			&::before
			{
				position: absolute;
				content: '';
				width: 15px;
				height: 2px;

				bottom: 5px;
				right: 5px;

				background-color: #686868;
			}
		}
		&--close
		{
			&:hover
			{
				background-color: #DC4242;

				&::before, &::after
				{
					background-color: #ffffff;
				}
			}

			&::before, &::after
			{
				position: absolute;
				content: '';
				width: 16px;
				height: 2px;

				top: 11.5px;
				right: 4.5px;

				background-color: #686868;
			}

			&::before
			{
				transform: rotateZ(-45deg);
			}
			&::after
			{
				transform: rotateZ(45deg);
			}
		}
	}
}

.selectFile
{
	width: 100%;
	height: 100%;
	display: grid;
	gap: 20px 10px;
	padding: 30px 15px;
	grid-template-columns: 1fr;
	align-content: center;

	&-row
	{
		min-height: 24px;
	}

	&__btn
	{
		margin: 0 auto;
		width: calc(100% - (24px * 2) - (3px * 2));
	}
}

.selectCity
{
	&-wrap
	{
		position: relative;
		margin: 0 auto;
		width: calc(100% - (24px * 2) - (3px * 2));
	}

	width: 100%;
}

.selectType
{
	display: grid;
	color: #ACACAC;

	grid-template-columns: 24px 1fr 24px;
	gap: 0px 3px;
	grid-template-areas:
	"prev text next";

	&__text
	{
		grid-area: 'text';
		text-align: center;
		line-height: 24px;
		user-select: none;
	}
	&__btn
	{
		display: block;
		position: relative;

		&:hover
		{
			opacity: .8;
		}

		&::after
		{
			content: '';
			position: absolute;
			left: 4px;
			right: 4px;
			line-height: 24px;
			border-style: solid;
		}
		&--prev
		{
			grid-area: 'prev';

			&::after
			{
				top: 4px;
				bottom: 4px;
				border-width: 8px 16px 8px 0;
				border-color: transparent #4169E1 transparent transparent;
			}
		}
		&--next
		{
			grid-area: 'next';

			&::after
			{
				top: 5px;
				bottom: 5px;
				border-width: 8px 0 8px 16px;
				border-color: transparent transparent transparent #4169E1;
			}
		}
	}
}

.parsingInfo
{
	display: grid;
	height: 100%;
	gap: 2px 0;
	padding: 10px 5px;
	color: #ACACAC;
	justify-content: center;
	align-content: center;

	&__btn
	{
		margin-top: 20px;
		order: 1;
	}
	&--value
	{
		color: #DC4242;
	}
	&--padding-top
	{
		padding-top: 10px;
	}
	&--padding-bottom
	{
		padding-bottom: 10px;
	}
}

.choices__list--dropdown
{
	display: none;
}

.is-open .choices__list--dropdown
{
	display: block;
}

.choices__inner
{
	background-color: #242424;
	color: #ACACAC;
	min-height: auto;
	padding: 0;
	border: none;

}

.choices__list
{
	max-height: 127px;
}

.choices[data-type*=select-one] .choices__inner
{
	padding: 0;
}

.choices[data-type*=select-one] .choices__input
{
	padding: 2.5px;
	background-color: #484848;
	color: #ACACAC;
	border-color: #585858;
}

.choices__list--dropdown .choices__item
{
	padding: 3px;
	background-color: #181818;
	color: #ACACAC;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list--dropdown .choices__item--selectable.is-highlighted
{
	background-color: #282828;
}

.choices__list--dropdown
{
	border-radius: 0;
}

.is-open .choices__list--dropdown
{
	border-color: #242424;
}

.choices[data-type*=select-one]:after
{
	border-color: #4169E1 transparent transparent;
}

.choices[data-type*=select-one].is-open:after
{
	border-color: transparent transparent #4169E1;
}

.choices__list--dropdown .choices__list
{
	max-height: 100px;
}

.choices__list--dropdown .choices__list::-webkit-scrollbar
{
	width: 3px !important;
	height: 6px !important;
	background: #191919 !important;
	border-left: 1px solid #252525 !important;
}
.choices__list--dropdown .choices__list::-webkit-scrollbar-thumb
{
	background: #DC4242;
	background-clip: padding-box;
	border-width: 4px;
	min-height: 28px;
	padding: 100px 0 0;
}
